body {
    padding: 15px;
}

.page-header {
    background-color: #00FFEE;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.page-header h1 {
    font-family: 'Lobster', cursive;
}

.content {
    margin-left: 40px;
}

h4 {
    font-family: 'Ubuntu';
}

.top-menu, .top-menu:hover, .top-menu:visited {
    float: right;
}

.app-links {
    margin: auto;
    width: 50%;
    display:block;
    text-align: center;
}

.home-message {
    margin: auto;
    width: 50%;
}

.login-logout-buttons {
    display:block;
    text-align: center;
}
